{% extends "base.html" %} {% block content %}
<h1>All Courses</h1>

{% if user.role == 'teacher' %}
<a href="{% url 'course_create' %}">+ Create New Course</a>
{% endif %}

<ul>
  {% for course in courses %}
  <li>
    <strong>{{ course.title }}</strong> by {{ course.instructor.username }} {%
    {% if user.role == 'student' %}
    <a href="{% url 'enroll' course.pk %}"> - Enroll</a>
    {% endif %}
  </li>
  {% empty %}
  <li>No courses yet.</li>
  {% endfor %}
</ul>
{% endblock %}
